@font-face {
  font-family: 'ArialRoundedBold';
  src: url('/portfolio/fonts/arial/Arial-Rounded-MT-Std-Bold.otf');
}
@font-face {
  font-family: 'ArialRoundedRegular';
  src: url('/portfolio/fonts/arial/Arial-Rounded-MT-Std-Regular.otf');
}